<div class="container" >
  <div class="jumbotron">
    <h1>Pessoas </h1>
    <hr>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Idade</th>
      <th>Alterar</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="pessoa in pessoas" >
      <th scope="row">{{$index + 1}}</th>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.cpf}}</td>
      <td>{{pessoa.idade}}</td>
      <td><button type="button" class="btn btn-success btn-sm"><i class="fa fa-cog"></i></button></td>
    </tr>

  </tbody>
</table>


  </div>
</div>
